# Keep these
!/.idea/gradle.xml
!/.idea/compiler.xml
!/.idea/vcs.xml
!/.idea/misc.xml
!/.idea/modules.xml


# Ignore these
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
edu-vetrinator-game-android.md
